__NO_EMAIL_USERS_MESSAGE__

The following VMs have been identified that might be unused and were scheduled to be shutdown on __EXPIRATION_DATE__.

__VM_LIST__

If you'd like to keep them longer, please use the link below to change the expiration date. You can also delete VMs from the same link.


VM Expiration Management:  
http://<your_webserver>/cgi/vmem.cgi?tid=__TID__



If you have any questions or comments please email them to 
