__NO_EMAIL_USERS_MESSAGE__

The following VMs were just shutdown and are scheduled to be deleted on __EXPIRATION_DATE__.

__VM_LIST__

If the VM(s) is/are in use or you'd like to keep it/them longer, please use the link below to change the expiration date. 


VM Expiration Management:  
http://<your webserver>/cgi/vmem.cgi?tid=__TID__


If you have any questions or comments please email them to 
